<div>
  <mat-form-field appearance="fill">
    <div matPrefix>
      <input type="text" placeholder="Pick one" matInput
        [matAutocomplete]="auto" class="country-input">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let countryCode of countryCodes" [value]="countryCode.code" (onSelectionChange)="countryCodeSelected($event)">
          <img src="{{countryCode.img}}" class="country"> {{countryCode.code}}
        </mat-option>
      </mat-autocomplete>
    </div>
    <input #numberInput class="number-input" type="text" matInput placeholder="Placeholder">
  </mat-form-field>
</div>